header{
	margin: auto;
	width:1024px;
	height: 50px;
	line-height: 65px;
	text-align: center;
	background-color: #79B4B7;
}
nav{
	margin: auto;
	width:1024px;
	height: 40px;
	line-height:40px;
	text-align: center;
	background-color: #F8F0DF;
}
section{
	margin: auto;
	width:1024px;
	min-height: 638px;
	text-align: center;
	background-color: #FEFBF3;
}
footer{
	margin: auto;
	width:1024px;
	height: 40px;
	line-height:40px;
	text-align: center;
	background-color: #F8F0DF;
}
.navLine{
	margin: auto;
	width:1024px;
	height: 3px;
	text-align: center;
	background-color: #105652;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
