<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/include/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="/include/header"></div>
<div th:replace="/include/nav"></div>
<div id="sectionDiv">
<section>
<br>
<br>
<img src="/img/note.jpg"><br>
검색으로 얻은 소스코드를 개인 데이터베이스에 올려두고<br>
필요할때마다 꺼내 사용하는 웹 노트 입니다
<br>
</section>
</div>
<div th:replace="/include/footer"></div>
</body>
</html>